<% studentCoverClass = locals.large ? "student-cover-large" : "" %> <%
studentGridClass = locals.large ? "student-grid-large" : "" %>
<div class="student-grid <%= studentCoverClass %>">
  <% students.forEach(student => { %>
  <div>
    <a href="/students/<%= student.id %> "
      ><img
        class="student-cover <%= studentCoverClass %>"
        src="<%= student.coverImagePath %> "
        alt="<%= student.name %> "
    /></a>
    <p><%= student.name %></p>
  </div>
  <% }) %>
</div>
