<h2 class="page-header">Intake: <%= intake.name %></h2>
<h3>Location: <%= intake.location %></h3>
<div class="btn-row">
  <a class="btn btn-primary" href="/intakes/<%= intake.id %>/edit">Edit</a>
  <%- include ("../partials/deleteForm", {url: `/intakes/${intake.id}`}) %>
</div>
<!--  -->
<% if(studentsByIntake.length > 0) { %>
<h2 class="page-header">Students By Intake</h2>
<%- include ("../partials/studentGrid", { students: studentsByIntake, large:
true}) %>
<!--  -->
<% } %>
